name: unit-test

on:
  workflow_dispatch:

  push:
    branches: [ "master" ]
    types: [opened, synchronize, reopened, labeled, unlabeled]

  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  wait-triage:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for PR triage
        uses: ArcticLampyrid/action-wait-for-workflow@v1
        with:
          workflow: .github/workflows/triage.yaml

  build-doc:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'documentation')
    uses: ./.github/workflows/mkdocs.yaml

  blas-op-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: blas-op-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/blas-op-test.yaml

  examples-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: examples-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/examples-test.yaml

  quick-cpu-op-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: op-test-quick-cpu-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/op-test-quick-cpu.yaml

  pointwise-op-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: pointwise-op-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/pointwise-op-test.yaml

  reduction-op-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: reduction-op-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/reduction-op-test.yaml

  special-op-test:
    needs: wait-triage
    if: contains(github.event.pull_request.labels.*.name, 'tests')
    concurrency:
      group: special-op-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/special-op-test.yaml

  utils-test:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'tests')"
    concurrency:
      group: op-utils-test-${{ github.event.pull_request.number || github.ref }}
      cancel-in-progress: true
    uses: ./.github/workflows/op-utils-test.yaml

  test-on-nvidia:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'vendor/NVIDIA')"
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: nvidia
      runner_label: hopper
      gpu_check_script: tools/gpu_check.sh
      test_script: tools/run_backend_tests_nvidia.sh

  test-on-ascend:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'vendor/Ascend')"
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: ascend
      runner_label: ascend
      gpu_check_script: tools/gpu_check_ascend.sh
      test_script: tools/run_backend_tests.sh

  test-on-iluvatar:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'vendor/Iluvatar')"
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: iluvatar
      runner_label: iluvatar
      gpu_check_script: tools/gpu_check_iluvatar.sh
      test_script: tools/run_backend_tests.sh

  test-on-metax:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'vendor/MetaX')"
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: metax
      runner_label: metax
      test_script: tools/run_backend_tests_metax.sh

  test-on-moore:
    needs: wait-triage
    if: "contains(github.event.pull_request.labels.*.name, 'vendor/MooreThreads')"
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: moore
      runner_label: mthreadsCI
      gpu_check_script: tools/gpu_check_moore.sh
      test_script: tools/run_backend_tests.sh

#   coverage:
#     needs:
#       - wait-triage
#       - blas-op-test
#       - examples-test
#       - quick-cpu-op-test
#       - utils-test
#       - pointwise-op-test
#       - reduction-op-test
#       - special-op-test
#     if: contains(github.event.pull_request.labels.*.name, 'tests')
#     concurrency:
#       group: coverage-test-${{ github.event.pull_request.number || github.ref }}
#       cancel-in-progress: true
#     runs-on: cpu
#     continue-on-error: true
#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v6
#       - name: Get python coverage
#         shell: bash
#         run: |
#           git config --global --add safe.directory ../FlagGems
#           if [ "${{ github.event_name }}" == "pull_request" ]; then
#             PR_ID=${{ github.event.pull_request.number }}
#           elif [ "${{ github.event_name }}" == "push" ]; then
#             PR_NUMBER=$(git log -1 --pretty=format:'%s' | grep -oE '#[0-9]+' | grep -oE '[0-9]+')
#             PR_ID=${PR_NUMBER}
#           fi
#           bash tools/code_coverage/coverage.sh ${PR_ID}
#       - name: Report python coverage
#         shell: bash
#         run: |
#           git config --global --add safe.directory ../FlagGems
#           if [ "${{ github.event_name }}" == "pull_request" ]; then
#             PR_ID=${{ github.event.pull_request.number }}
#           elif [ "${{ github.event_name }}" == "push" ]; then
#             PR_NUMBER=$(git log -1 --pretty=format:'%s' | grep -oE '#[0-9]+' | grep -oE '[0-9]+')
#             PR_ID=${PR_NUMBER}
#           fi
#           bash tools/code_coverage/report_coverage.sh ${PR_ID}
